.banner{
    position: relative;
    width: 100vw;
    max-width: 100%;
    color: white;
    
} 

.baner_contents{

    width: 100vw;
    max-width: 100%;
    

}



.poster{
    width: 100vw;
    
    max-width: 100%;
   
}



.blend{
    position: absolute;
    bottom: 150px;
    padding: 40px;
    display: flex; 
    flex-direction: column; 
    justify-items: left;
    align-items: flex-start;
}

.banner_title {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.banner_descrp {
    width: 35rem;
    line-height: 1.3;
    padding-top: 0.5rem;
    max-width: 360px;
    height: 40px;
    font-size: 10px;
    text-align: left;

}



.banner_button{

    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgb(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
}

.banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
} 

/*<div className="blend">
         <h1 className="banner_title">{movies?.title || movies?.name || movies?.original_title}</h1>
        <div className="banner_buttons">
            <button className="banner_button">Play</button>
            <button className="banner_button">My List</button>
        </div>
        <h1 className="banner_descrp"> {truncate(movies?.overview, 200)}</h1>
         </div> */